<!-- Vist home page, see editors oick & clicking on title go to book show -->

Editor's Pick:
<% all_ratings = Review.read %>
<% all_ratings.each do |rating| %>
      <% book_rating = Review.where(the_book_id => rating["book_id"] %>
<% end %>

<% editors_pick_id = Review.maximum("rating") %>
<% editors_pick = Book.where("id" => editors_pick_id["book_id"]) %>

<h2>Book: <%= editors_pick["book_id"] %> </h2>
<br><strong>Author:</strong> <%= editors_pick["author"] %>
<br><strong>Price:</strong> $<%= editors_pick["price"] %>
<br><% avg_rating = Review.where("book_id" => editors_pick.id).average("rating") %>
<% if avg_rating.present? %>
  <strong>Average Star Rating:</strong> <%= number_with_precision(avg_rating, :precision => 1)  %>
<% else %>
 <strong>Average Star Rating:</strong> Sorry! There are no ratings for this book currently
<% end %>


<hr>
<p>
  <%= link_to "Go back to List of Books in the Store ", "/books" %>
</p>
