

<h2>Editor's Pick: </h2>
<% all_reviews = Review.read %>
<% all_reviews.each do |review| %>
      <% the_book = Book.where("id" => review["book_id"]) %>
      <% the_book["avg_rating"] = Review.average("rating") %>
<% end %>

<% max_avg_rating = Book.maximum("avg_rating") %>
<% editors_pick = Book.first %>
<% all_books = Book.read %>
<% all_books.each do |book| %>
      <% if ( book["avg_rating"] == max_avg_rating ) %>
        <% editors_pick = Book.where("id" => book["id"]) %>
      <%end %>
<% end %>

<h2>Book: <%= link_to editors_pick["title"], "/books/#{book["id" => editors_pick["id"]} %></h2>
<br><strong>Author:</strong> <%= editors_pick["author"] %>
<br><strong>Price:</strong> $<%= editors_pick["price"] %>
<br><% avg_rating = Review.where("book_id" => editors_pick.id).average("rating") %>
<% if avg_rating.present? %>
  <strong>Average Star Rating:</strong> <%= number_with_precision(avg_rating, :precision => 1)  %>
<% else %>
 <strong>Average Star Rating:</strong> Sorry! There are no ratings for this book currently
<% end %>


<hr>
<p>
  <%= link_to "Go back to List of Books in the Store ", "/books" %>
</p>
